* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif !important;
    color: var(--color);
    /* outline: 1px solid ; */
}

html {
    overflow-x: hidden;
}

/* ====CSS VARIABLES==== */
:root {
    --mainbackground: radial-gradient(#3BBDED 0%, #91db65 100%);
    --mainbackgroundOne: linear-gradient(90deg, #7aa7b8 0%, #51a123 100%);
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    --color: white;
    --back: rgba(0, 0, 0, 0.6);
    --black: rgba(0, 0, 0, 0.4);
    --mainText: 19px;
    --padding: 0 0 3rem 0;
    --padding1: 1rem 2rem;
    --padding2: 10px 1rem;
    --padding3: 10px 0;
    --padding4: 0 1rem;
    --padding5: 0 2rem;
    --padding6: 1rem 0;
    --padding7: 4rem 0;
    --text-stroke: #3BBDED;
    --text-stroke: #2a0adf;
}

body {
    margin: 0;
    height: 100vh;
    background: black;
}

#image {
    position: absolute;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
}

/* ====THIS CONTROLS THE CENTERING OF THE DIV==== */
.wrapper {
    width: 95%;
    margin: 0 auto;
}

/* FOR ALL SECTIONS PAGE ==== */
section {
    padding: 2rem 0 0 0;
    margin-bottom: -5rem;
}

.background {
    background-color: var(--color);

    p,
    h1,
    h2,
    h4,
    .color {
        color: var(--back);
    }
}

/* =======BACKGROUND CONTROLS===== */
.gradient {
    background: var(--mainbackground);
    background-size: -510% 500%;
    animation: gradientAnimation 1m ease-in-out infinite;
}

.relative {
    background-color: transparent;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ===== HEADER ==== */
header {
    width: 100% !important;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding1) !important;
    z-index: 999;

    .logo {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: cursive;
    }

    img {
        height: 80px;
        width: 200px;
        object-fit: contain;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        a {
            font-size: 20px;
            text-decoration: none;
            text-transform: capitalize;
            position: relative;
        }

        a::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            height: 5px;
            background: var(--mainbackgroundOne);
            transition: .5s ease;
            border-radius: 10px;
            z-index: -1;
        }

        a:hover::before {
            width: 100%;
        }
    }
}

.scrolled {
    background: var(--mainbackground) !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) !important;

}

/* ==== This is to control the buttons ==== */
.btn {
    padding: var(--padding1);
    border-radius: 20px;
    background: var(--mainbackgroundOne);
    border: none;
    font-size: 18px;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
}

.btn:hover {
    color: var(--back);
}

/* === This is hover effect ====*/
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--mainbackground);
    transition: .5s ease;
    border-radius: 20px;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
}

/* ==== HERO-SECTIONS ==== */

.hero-section {
    display: grid;
    grid-template-columns: 42% 58%;
    padding-top: 3rem !important;
}

.hero-section .hero-text {
    h2 {
        margin-top: 4rem !important;
        font-size: 1.4rem;
        width: 300px;
        font-weight: 900;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: .7px var(--black);
        background-image: linear-gradient(var(--color), var(--color));
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        position: relative;
        background-position: 0 0;
        animation: homeText 8s linear infinite;
        animation-delay: 2s;

    }

    h2::before {
        content: '';
        position: absolute;
        top: 0;
        left: -2px;
        width: 0;
        height: 100%;
        border-right: 2px solid var(--color) !important;
        z-index: -1;
        animation: homeTextCousor 8s linear infinite;
        animation-delay: 2s;

    }

    .list ul li {
        margin: 1rem;
    }
}

@keyframes homeText {

    0%,
    10%,
    100% {
        background-position: -19rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeTextCousor {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

.hero-section .hero-text .header-text {
    margin: 1rem 0 2rem 0;
    font-size: 42px;
    width: 600px;
    font-weight: 700;
    line-height: 50px;
}

.hero-section .hero-text p {
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 25px;
    margin: 1rem 0 3rem 0;
    padding: var(--padding4);
}

#img {
    width: 90%;
    height: 50%;
    object-fit: cover;
    margin-left: 3rem;
}

.hero-section .hero-img img {
    margin-top: -2rem;
    object-fit: cover;
    transition: 1s;
}

/* IMG HOVERING EFFECTS */
.hero-section .hero-img img:hover {
    opacity: 0.6;
    transition: 2s;
}


/*===== VERSIONS ======= */
.version {
    margin-top: -4px;
}

.versions {
    padding: var(--padding7);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.version-heading {
    position: relative;
    margin: auto;
    width: 250px;
}

.version-heading h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding: var(--padding);
    text-transform: uppercase;
}

/*===for line under text*/
.lining {
    height: 5px;
    border-radius: 10px;
    width: 100%;
    background: var(--mainbackground);
    z-index: 999;
    position: absolute;
    top: 50px;
}

.version-card {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .version-text {
        position: relative;
    }

    .version-text h2 {
        padding: var(--padding3);
        font-weight: 900;
        font-size: 25px;
    }

    p {
        font-size: 18px;
        padding: var(--padding3);
    }
}

.version-card:nth-child(2) {
    display: flex;
    gap: 8rem;
    flex-direction: row-reverse !important;
}

.versions-img:nth-child(2) img {
    float: right;
}

/* .version-row-card {
    padding: var(--padding6);
    width: 75%;
    gap: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-transform: capitalize;

    .version-text {

        h1 {
            text-transform: capitalize;
            padding: var(--padding3);
            font-size: 20px;
        }

        p {
            color: var(--black);
            font-size: 15px;
            font-weight: 100;
        }
    }
} */

.goals {
    padding: var(--padding7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;

    .goal-heading {
        position: relative;
    }

    h1 {
        padding: var(--padding);
    }

    .goals-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        h1 {
            padding: var(--padding3);
            font-weight: 900;
            font-size: 20px;
        }

        p {
            font-size: 18px;
            padding: var(--padding3);
        }
    }
}



/* ===== SERVICES ==== */

.services {
    /* padding: var(--padding7); */
    /* padding: 0 3rem ; */


    .header-topic {
        position: relative;
        width: 280px;
        margin: auto;
    }

    h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 900;
        padding: var(--padding);
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
}

/* .swiper-wrapper{
} */

.swiper-slide {
    /* this is to space the slide*/
    padding: 2rem 0;
    /* border: 1px solid #000; */
    /* display: flex;    */
    justify-content: center;
    align-items: center;
    /* width: 90% !important; */
    margin: auto !important;
}

.card {
    box-shadow: 0px .2px .2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    border-radius: 10px;
    z-index: 999;

    .card-img {
        overflow: hidden;
        border-radius: 10px;

    }

    .card-img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: auto;
        transition: 1s all;


    }

    .card-img img:hover {
        transition: 1s all;
        transform: scale(1.2, 1.2);
        filter: blur(1px);

    }


    .card-header {
        font-weight: 100;
        margin-bottom: 1rem;

        .head-text {
            font-size: 20px;
            padding: var(--padding3);
            text-transform: capitalize !important;
        }

        p {
            color: var(--back);
            font-size: 12px;
            letter-spacing: .2px;
        }

        .read-more {
            display: none;
        }
    }

}


/*========== Info section *< about &contact > ========= */
.info {
    margin: 3rem 0;
}

.info_container {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 3rem;
}

.info_container .about .about_container h1 {
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    padding: var(--padding6);
}

.about_container p {
    font-size: 23px;
    font-weight: 300;
    line-height: 35px;
    padding: var(--padding6);
    max-width: 600px;
}

.contact {
    width: 100% !important;
}

.contact_container {
    width: 90% !important;
}

.contact_container h1 {
    font-size: 30px;
    font-weight: 400;
}

.form_container {
    display: grid;
    align-items: center;
    grid-template-columns: 47% 47%;
    margin: 2rem 0;
    gap: 2rem;
}

.form_container input {
    width: inherit !important;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--back);
    outline: none;


}

.whatsapp {
    margin-top: -23px;
    font-size: 13px;
    border: 1px solid #fff;
    padding: 4px 8px;
    background-color: white;
    color: var(--black);
    border-radius: 5px;
    text-decoration: none;
}

textarea {
    outline: none;
    border: none;
    width: 100%;

    /* max-width: 100% !important  ; */
    height: 150px;
    border-radius: 5px;
    resize: none;
    color: var(--back);
    padding: 10px;
}

#submit {
    margin-top: -1.5rem;
    padding: 14px;
}

input:hover,
textarea:hover {
    background-color: transparent;
    border: 1px solid var(--color);
    color: var(--back);
}

#submit:hover,
.whatsapp:hover {
    background: var(--mainbackgroundOne);
    color: var(--white);
}


/* ========= FOTTER =========*/

.footer-container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: var(--padding7);
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: flex-start;

    .footer-logo {
        margin: 0 1rem;
        max-width: 350px;

        .logo {
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: cursive;

        }
    }

    .para-link {
        a {
            display: block;
            padding: var(--padding6);
            text-transform: capitalize;
            text-decoration: none;
        }
    }

    .para-text {
        font: 25px;
        letter-spacing: 2px;
        color: var(--black);
    }
}

.bar {

    display: none;
}

@media screen and (max-width:1315px) {
    .services .card {
        max-width: 250px;
    }
}



@media screen and (max-width:1215px) {
    .hero-section {

        /* padding: var(--padding7) !important; */
    }

    .hero-text {
        .header-text {
            font-size: 40px !important;
            width: 100% !important;
            text-align: left;
        }

        br {
            display: none;
        }

        p {
            padding: 0 !important;
            font-size: 20px !important;
            width: 100% !important;
        }
    }

    .hero-img {
        margin-bottom: 2.5rem !important;
    }

}


@media screen and (max-width:1090px) {
    .bar {
        display: block !important;
        font-size: 25px;
    }

    nav {
        display: none !important;
    }

    .hero-section {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .hero-text {}

    .hero-img {
        width: 100% !important;

        img {
            width: inherit;
        }
    }

    .versions {
        padding: var(--padding6) !important;
    }

    .version-card {
        height: auto !important;
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem !important;
    }

    .version-card:nth-child(2) {
        flex-direction: column-reverse !important;
    }

    .versions-img img {
        width: 100%;
        max-height: 350px !important;
        object-fit: contain;
    }

    .version-card p {
        margin-bottom: 4rem !important;
    }

    .goals-container {
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 2rem;
    }

    .services {
        padding-top: 3rem !important;
    }

    .services .card {
        /* max-width: 350px !important; */
        margin:  auto !important;
    }

    .info_container{
        grid-template-columns: 1fr !important;
        /* gap: 0 !important; */
    }
    .info_container .about .about_container {
        p,h1{

            padding: var(--padding1) !important;
        }
    }
    .info_container .contact .contact_container{
        margin: auto !important;
    }

    .footer-container{
        /* grid-template-columns: repeat(3,1fr); */
        display: flex !important;
        flex-wrap: wrap !important;
        width: 100% !important;
        gap: 1rem !important;
        padding: var(--padding1);

        margin: 1rem;
        padding: var(--padding7);
        display: grid;
        gap: 3em;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-items: flex-start;
    }
}


@media screen and (max-width:850px){
    .services .card {
        max-width: 400px !important;
        margin:  auto !important;
    }
}
@media screen and (max-width:650px){
    .services .card {
        max-width: 240px !important;
        margin:  auto !important;
    }
}
@media screen and (max-width:535px){
    .services .card {
        max-width: 210px !important;
        margin:  auto !important;
    }
}
@media screen and (max-width:450px){
    .services .card {
        max-width: 450px !important;
        margin:  auto !important;
    }
}